@tailwind base;
@tailwind components;
@tailwind utilities;
body * {
    @apply transition-colors duration-500;
}
@layer utilities{
    .text-light-lg{
      text-shadow: 4px 4px 10px rgba(255,255,255, 0.6);
    }
    .text-shadow-lg {
      text-shadow: 4px 4px 10px rgba(0,0,0, 0.6);
    }
    .text-shadow-md {
      text-shadow: 3px 3px 4px rgba(0,0,0, 0.6);
    }
    .text-shadow-sm {
      text-shadow: 2px 2px 3px rgba(0,0,0, 0.6);
    } 
    .text-shadow {
      text-shadow: 1px 1px 2px rgba(0,0,0, 0.6);
    }
    .animated-background {
      background-size: 110%;
  
      -webkit-animation: animation 60s ease infinite;
      -moz-animation: animation 60s ease infinite;
      animation: animation 60s ease infinite;
    }
    
    @keyframes animation {
        0%,
        100% {
            background-position: 0% 0%;
        }
        
        50% {
            background-position: 100% 0%;
        }
    }
}